<div class="row" ng-controller="HomeController">


	<div class="col-md-6 animate__animated animate__zoomIn offset-md-1" style="z-index: 10;">

		<div ng-repeat="post in Posts" style="width: 95%;">
			<div class="write-post-container   "
				style="margin-bottom: 20px; border-radius: 8px;
				box-shadow: rgba(6, 19, 36, 0.2) 0px 1px 4px 0px; padding: 0; padding-top: 10px; padding-bottom: 10px; width: 100%; text-align: left; background: white;">
				<div style="margin: 0;">
					<div style="display: flex; align-items: center; justify-content: space-between; padding-left: 10px">
						<div class="dropdown">
							<span class="dropbtn">
								<div class="user-profile ">
									<a href="#!/profile/{{post.user.userId}}"><img
											ng-src="/images/{{post.user.avatar }}" style="border-radius: 100%;"
											alt=""></a>
									<div>

										<span
											style="font-weight: 600 !important; font-size: 1rem !important; margin: 0; color: #2A3547">{{
											post.user.username }}</span> &nbsp;&nbsp; <span><small
												style="font-size: 12px; color: #65676b"> {{
												getFormattedTimeAgo(post.postDate) }} </small></span>
									</div>
								</div>
							</span>
							<div class="dropdown-content" style="padding-bottom: 0.5rem; padding-top: 0.5rem;">
								<div class="user-profile ">
									<a href="/profile/{{post.user.userId}}"><img ng-src="/images/{{ post.user.avatar }}"
											style="border-radius: 100%;" alt=""></a>
									<div>
										<b>{{ post.user.username }}</b>
										<!-- <i class="fa-solid fa-earth-americas fa-xs"></i> -->
										<br> <small style="font-size: 12px; color: #65676b">
											<b>{{ 'ST' | translate }}:</b> {{ post.user.address }}
										</small> <br> <small style="font-size: 12px; color: #65676b">
											<b>{{ 'MQH' | translate }}:</b> {{ post.user.relationship }}
										</small>

									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="btn-group" style="margin-right: 10px;">
								<div class="dropdown">
									<span class="  dropdown-toggle" id="triggerId" data-bs-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"> </span>
									<div class="dropdown-menu" aria-labelledby="triggerId">
										<a class="dropdown-item" ng-click="openModalBaoCao(post.postId)"
											style="color: #E53F31; font-size: 13px">{{ 'BCVP' |
											translate }}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="margin-top: 10px;">
						<div>
							<div style="box-sizing: border-box; padding: 10px; font-size: 14px; text-align: justify;">
								{{ post.content }}</div>
							<center>
								<div ng-if="post.images.length > 1">
									<!-- Carousel HTML code -->
									<div id="carouselId{{post.postId}}" class="carousel slide" data-bs-ride="carousel">
										<!-- Carousel indicators -->
										<ol class="carousel-indicators">
											<li data-bs-target="#carouselId"
												ng-repeat="image in post.images track by $index"
												ng-class="{ 'active': $index === 0 }" data-bs-slide-to="{{$index}}"
												aria-current="{{$index === 0}}" aria-label="Slide {{$index + 1}}"></li>
										</ol>
										<!-- Carousel items -->
										<div class="carousel-inner" role="listbox">
											<div class="carousel-item" style="background-color: #313131; height: 90vh;"
												ng-repeat="image in post.images track by $index"
												ng-class="{ 'active': $index === 0 }">

												<img ng-click="getPostDetails(post.postId)" ng-if="image.type === true"
													ng-src="/images/{{ image.imageUrl }}" class="w-100 d-block"
													alt="Slide {{$index + 1}}"
													style="max-height: 90vh; object-fit: contain; width: 100%; transform: translateY(-50%); top: 50%; position: absolute;">

												<video ng-if="image.type === false" autoplay controls
													style="max-height: 90vh; object-fit: contain; width: 100%; transform: translate(-50%, -50%); top: 50%; position: absolute;">
													<source ng-src="images/{{ image.imageUrl }}" type="video/mp4">
													Your browser does not support the video tag.
												</video>
											</div>
										</div>

										<!-- Carousel controls -->
										<button class="carousel-control-prev" type="button"
											data-bs-target="#carouselId{{post.postId}}" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button"
											data-bs-target="#carouselId{{post.postId}}" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>
								</div>
								<div ng-if="post.images.length === 1">
									<video ng-if="post.images[0].type === false" autoplay controls style="width: 100%;">
										<source ng-src="images/{{ post.images[0].imageUrl }}" type="video/mp4">
										Your browser does not support the video tag.
									</video>
									<!-- Single image HTML code -->
									<img ng-if="post.images[0].type === true" ng-click="getPostDetails(post.postId)"
										ng-src="/images/{{ post.images[0].imageUrl }}" class="w-100" alt="Single image"
										style="max-height: 90vh; object-fit: cover; width: 100%; background-color: black;">
								</div>



							</center>
						</div>

						<div class="post-reaction" style="padding: 10px; margin-top: 8px;">
							<div class="activity-icons">
								<div>
									<span ng-click="likePost(post.postId);"
										ng-if="likedPosts.indexOf(post.postId.toString()) !== -1"
										style="color: #f50000;">❤️&nbsp;{{ post.likeCount }}</span> <span
										ng-click="likePost(post.postId)"
										ng-if="likedPosts.indexOf(post.postId.toString()) === -1">🤍&nbsp;{{
										post.likeCount }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span
										ng-click="getPostDetails(post.postId)"><i
											class="fa-light fa-comments"></i>&nbsp;{{ post.commentCount}}</span>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<button class="form-control" style="margin-bottom: 1rem;" ng-click="loadMore()">Hiển thị thêm bài viết</button>
	</div>


	<!-- <div class="col-md-6 row menuLeft animate__animated animate__zoomIn">
		<div class="col-md-7 offset-md-3">
			<div class="row">
				<div>
					<div
						style="background-color: #f2f2f2;  background: url(images/thoiTiet.png); background-size: cover; color: #234662; padding: 0; width: 100%; max-height: 188px; border-radius: 3px">
						<div id="weather-info"
							style="background-color: rgba(217, 197, 197, 0.4); margin: 0; padding: 10px;">

							<ul style="font-size: 13px">
								<li><b>{{ 'TP' | translate }}:</b> <span id="city"></span></li>
								<li><b>{{ 'NDD' | translate }}:</b> <span id="temperature"></span>
									°C</li>
								<li><b>{{ 'MT' | translate }}:</b> <span id="description"></span></li>
								<li><b>{{ 'DA' | translate }}:</b> <span id="humidity"></span>%</li>
								<li><b>{{ 'TDG' | translate }}:</b> <span id="wind-speed"></span>
									m/s</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<b>Đang theo dõi ({{totalFollowing}})</b>
			<br>
			<br>
			<div class="card" ng-repeat="user in followings"
				style=" border: none; background-color: #f8f9fa!important;">
				<div class="card-body d-flex align-items-center gap-3">
					<a href="#!/profile/BZOL98493464"><img class="rounded-circle" width="40" height="40"
							style="object-fit: cover;" src="/images/{{user.avatar}}"></a>
					<div>
						<h5 class="fw-semibold mb-0 ng-binding" style="font-size: 1rem;font-weight: 600 !important">
							{{user.username}}</h5>
						<div class=" d-flex  ng-binding" style="font-size: .75rem !important">
							<b>Hoạt động:</b> &nbsp; {{getFormattedTimeAgo(user.acessTime)}}
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="col-md-6">

			<div class="user-data full-width" style="margin-bottom: 5px; margin-left: 0">
				<div class="user-profile" style="display: block;">
					<a href="#!/profile/{{myAccount.user.userId}}">
						<div class="username-dt dpbg-1"
							style="background-image: url(images/{{myAccount.user.background}}); background-size: cover;">
							<div class="usr-pic">
								<img ng-src="/images/{{myAccount.user.avatar}}" alt="">
							</div>
						</div>
					</a>
					<div class="user-main-details">
						<h6 style="font-weight: 600">{{myAccount.user.username}}</h6>
					</div>
					<ul class="followers-dts">
						<li>
							<div class="followers-dt-sm">
								<h4>{{ 'NTD' | translate }}</h4>
								<span>{{myAccount.followers}}</span>
							</div>
						</li>
						<li>
							<div class="followers-dt-sm">
								<h4>{{ 'DTD' | translate }}</h4>
								<span>{{myAccount.following}}</span>
							</div>
						</li>
					</ul>

					<div class="profile-link">

						<a class="btn-blue" data-bs-toggle="modal" href="#exampleModalToggle"
							style=" border-radius: 2px; border: 1px solid #3a57e8; box-sizing: border-box; display: inline-block; font-family: Arial, sans-serif; font-size: 14px; line-height: 16.8px; margin: 0px 3px 10px; padding: 10px 14px; text-decoration-line: none; transition: all 0.2s; width: 98%; background-color: transparent; color: #3a57e8;"
							rel="noopener noreferrer"><i class="fa-light fa-address-card"></i> {{
							'DBV' | translate }} </a>
					</div>

				</div>
			</div>

		</div>


	</div> -->
	<!-- Modal đăng bài -->
	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content" style="background-color: rgba(246, 245, 244, 1);">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalToggleLabel">
						<b style="margin-left: 170px;">{{ 'DBV' | translate }}</b>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="postForm" enctype="multipart/form-data">
						<div class="user-profile">
							<img ng-src="images/{{ myAccount.user.avatar }}" alt="">
							<div>
								<label>{{myAccount.user.username}}</label> <br>
								<div style="display: flex; align-items: center;">
									<div class="circle2 mb-2"
										style="margin-bottom: 0 !important; background-color: green"></div>
									&nbsp; <small style="font-size: 12px"> {{ 'DHD' |
										translate }} </small>
								</div>
							</div>
						</div>
						<br>
						<textarea name="content" placeholder="{{ 'BDNG' | translate }}" id="content" ng-model="content"
							cols="30" rows="3"
							style="width: 100%; border: 0px; outline: none; border-bottom: 1px solid #ccc; background: transparent; resize: none;"></textarea>
						<br>
						<div id="dropArea" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
							ondragleave="dragLeaveHandler(event);">{{ 'KEO' | translate
							}}</div>

						<div hidden class="input-group mb-3">
							<label class="input-group-text" for="inputGroupFile01"> <i
									class="fa-regular fa-image"></i>{{ 'HAVD' | translate }}
							</label> <input type="file" class="form-control" name="mediaFiles" id="inputGroupFile01"
								multiple>
						</div>

						<div id="mediaList"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button ng-click="post()" style="width: 500px; border: none;" class="btn-blue"
						data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">{{ 'DB' |
						translate }}</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal hiện  chi tiêt bài viết và danh sách bình luận -->
	<div class="modal fade" id="chiTietBaiViet" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
		aria-hidden="true">
		<div class="modal-dialog modal-xl modal-fullscreen" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6 trai " style="overflow-y: scroll; max-height: 100vh">
							<center>
								<div ng-if="postDetails.images.length > 1">
									<!-- Carousel HTML code -->
									<div id="postDetails{{postDetails.postid}}" class="carousel slide"
										data-bs-ride="carousel">
										<!-- Carousel indicators -->
										<ol class="carousel-indicators">
											<li data-bs-target="#postDetails{{postDetails.postid}}"
												ng-repeat="image in postDetails.images track by $index"
												ng-class="{ 'active': $index === 0 }" data-bs-slide-to="{{$index}}"
												aria-current="{{$index === 0}}" aria-label="Slide {{$index + 1}}"></li>
										</ol>
										<!-- Carousel items -->
										<div class="carousel-inner" role="listbox">
											<div class="carousel-item"
												ng-repeat="image in postDetails.images track by $index"
												ng-class="{ 'active': $index === 0 }">
												<img ng-src="/images/{{ image.imageUrl }}" class="w-100 d-block"
													alt="Slide {{$index + 1}} ">
											</div>
										</div>
										<!-- Carousel controls -->
										<button class="carousel-control-prev" type="button"
											data-bs-target="#postDetails{{postDetails.postid}}" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button"
											data-bs-target="#postDetails{{postDetails.postid}}" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>
								</div>
								<div ng-if="postDetails.images.length === 1">
									<!-- Single image HTML code -->
									<img ng-src="/images/{{ postDetails.images[0].imageUrl }}" class="w-100"
										alt="Single image"
										style="margin-top: 10px; margin-bottom: 10px; object-fit: contain; max-height: 90vh; border-radius: 10px;">

								</div>


							</center>

						</div>
						<div class="col-md-6 phai ">
							<div>
								<div data-bs-dismiss="modal" style="cursor: pointer; text-align: right;">x</div>
								<div style="display: flex; align-items: center; justify-content: space-between;">
									<div class="user-profile ">
										<a href="/nguoiDung/{{postDetails.user.userId}}"><img
												ng-src="/images/{{postDetails.user.avatar}}"
												style="border-radius: 100%;" alt=""></a>
										<div>

											<span
												style="font-weight: 600 !important; font-size: 1rem !important; margin: 0; color: #2A3547"
												class="ng-binding">{{postDetails.user.username}}</span>
											&nbsp;&nbsp; <span><small style="font-size: 12px; color: #65676b"
													class="ng-binding">
													{{getFormattedTimeAgo(postDetails.postDate)}} </small></span>
										</div>
									</div>

									<div>
										<div class="btn-group">
											<span class="btn dropdown-toggle" type="button" id="triggerId"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"></span>
											<div class="dropdown-menu" aria-labelledby="triggerId">
												<a class="dropdown-item" href="#">{{ 'BCVP' | translate
													}}</a>
											</div>
										</div>
									</div>
								</div>
								<div style="padding: 10px">{{postDetails.content}}</div>
								<form>
									<div style="display: flex;">
										<input ng-model="myComment" type="text" class="ip form-control"
											style="width: 80%;" placeholder="{{ 'BLCB' | translate }}" required="">
										<button class="btn01" type="submit"
											style="background: #007ACC; color: white; height: 60%; transform: translateY(30%); border-radius: 3px; margin-left: 5px; padding: 6px"
											ng-click="addComment(postDetails.postId)">{{ 'BL' |
											translate }}</button>
									</div>
								</form>
							</div>
							<div style="overflow-y: scroll; max-height: 70vh; padding-right: 0.2rem">
								<div
									ng-repeat="comment in postComments | limitTo:numOfCommentsToShow track by comment.commentId">
									<div class="msg ng-scope left-msg" ng-class="left-msg">
										<div class="msg-img"
											style="background-image: url(/images/{{comment.user.avatar}}); transform: translateY(-100%); border: 1px solid #ebf1f6;">
										</div>
										<div class="msg-bubble" style="border-radius: 15px;">
											<div>
												<div>
													<label
														style="margin: 0; color: #393e41; font-weight: 700 !important;">{{comment.user.username}}</label>
												</div>
												<small style="font-weight: 500;">
													<i class="fa-regular fa-comment"></i>
													{{comment.content}}
												</small>
												<br>
												<div>
													<small style="font-size: 12px;">
														<i class="fa-regular fa-clock"></i>
														{{getFormattedTimeAgo(comment.commentDate)}}
													</small> &nbsp;
													<label>
														<input type="checkbox" ng-model="o_checkbox" hidden="true">
														<small ng-if="comment.reply.length > 0"
															style="font-size: 12px; cursor: pointer;">{{comment.reply.length}}
															phản hồi</small>
													</label> &nbsp; <small style="font-size: 12px; cursor: pointer;">
														<label> <input type="checkbox" ng-model="o_reply" hidden="true">
															<i class="fa-sharp fa-regular fa-reply"></i> Trả lời
														</label>
													</small>
												</div>
											</div>

										</div>
									</div>

									<div ng-show="o_reply" class="user-profile  img-thumbnail ng-scope"
										style="box-sizing: border-box; padding: 4px; border-radius: 5px; background-color: white; margin-bottom: 5px; margin-left: 5rem; width: 85%; border: 1px solid #dee2e6;">
										<img ng-src="/images/{{myAccount.user.avatar}}" class="img-thumbnail" alt="">
										<div style="width: 70%">
											<small style="font-size: 12px; font-weight: 600;" class="ng-binding"> <i
													class="fa-regular fa-tag"></i> <small class="ng-binding">
													Bạn đang trả lời: {{comment.user.username}} </small>

											</small><br>
											<div>
												<form>
													<div class="input-group">
														<input
															style="border: none; border-bottom: 1px solid #dee2e6; border-radius: 0"
															type="text" class="form-control"
															ng-keydown="handleKeyDownReplyForComment($event, comment.user.userId, comment.commentId, replyContent[comment.commentId])"
															placeholder="Nhập nội dung..."
															ng-model="replyContent[comment.commentId]">
														<div class="input-group-append" style="margin-left: 0.3rem">
															<button class="btn btn-primary"
																style="background-color: #007ACC; color: white; border: none;"
																type="button"
																ng-click="sendReplyForComment(comment.user.userId, comment.commentId, replyContent[comment.commentId])">Gửi</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div ng-show="o_checkbox">
										<div ng-repeat="obj in comment.reply | orderBy:'replyDate':true">

											<div class="msg ng-scope right-msg" ng-class="left-msg"
												style="margin-left: 4rem;">
												<div class="msg-img"
													style="background-image: url(/images/{{obj.responder.avatar}}); transform: translateY(-100%); border: 1px solid #ebf1f6;">
												</div>
												<div class="msg-bubble" style="border-radius: 15px;">

													<div>
														<div>
															<label class=" ng-binding"
																style="margin: 0; color: #393e41; font-weight: 700 !important;">{{obj.responder.username}}</label>
														</div>
														<small style="font-size: 12px;" class="ng-binding">
															<small style="font-size: 0.875rem;" class="ng-binding">
																<i class="fa-regular fa-comments"></i> <b
																	class="nhan ng-binding"
																	style="color: #393e41; font-weight: 600 !important;">{{obj.receiver.username}}</b>
																{{obj.replyContent}}
															</small>
														</small><br>
														<div>
															<small style="font-size: 12px;" class="ng-binding"><i
																	class="fa-regular fa-clock"></i>
																{{getFormattedTimeAgo(obj.replyDate)}}</small> &nbsp;
															<label>
																<input type="checkbox" ng-model="o_checkbox"
																	hidden="true"
																	class="ng-pristine ng-untouched ng-valid ng-empty">
																<!-- ngIf: comment.reply.length > 0 -->
															</label> &nbsp; <small
																style="font-size: 12px; cursor: pointer;">
																<label> <input type="checkbox" ng-model="o_reply2"
																		hidden="true"> <i
																		class="fa-sharp fa-regular fa-reply"></i> Trả
																	lời
																</label>
															</small>
														</div>
													</div>

												</div>
											</div>

											<div ng-show="o_reply2" class="user-profile  img-thumbnail ng-scope"
												style="box-sizing: border-box; padding: 4px; border-radius: 5px; background-color: white; margin-bottom: 5px; margin-left: 5rem; width: 85%">
												<img ng-src="/images/{{myAccount.user.avatar}}" class="img-thumbnail"
													alt="">
												<div style="width: 65%">
													<small style="font-size: 12px;" class="ng-binding">
														<i class="fa-regular fa-tag"></i> <small
															style="font-size: 12px;" class="ng-binding"> Bạn
															đang trả lời: {{obj.responder.username}} </small>
													</small><br>
													<div>
														<form>
															<div class="input-group">
																<input
																	style="border: none; border-bottom: 1px solid #dee2e6; border-radius: 0;"
																	type="text" class="form-control"
																	placeholder="Nhập nội dung..."
																	ng-model="replyContent[obj.replyId]"
																	ng-keydown="handleKeyDown($event, obj.responder.userId, replyContent[obj.replyId], obj.replyId, comment.commentId)">

																<div class="input-group-append">
																	<button class="btn btn-primary"
																		style="background-color: #007ACC; color: white; border: none"
																		type="button"
																		ng-click="sendReply(obj.responder.userId, replyContent[obj.replyId], obj.replyId, comment.commentId)">Gửi</button>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										<center>
											<hr style="width: 30%;">
										</center>
									</div>

								</div>
								<button class="form-control" ng-show="numOfCommentsToShow < postComments.length"
									ng-click="showMoreComments()">Hiển thị thêm bình luận</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal báo cáo bài viết -->
	<div class="modal fade" id="modalBaoCao" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitleId">{{ 'NDTC' |
						translate }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" style="line-height: 30px">
					<div ng-repeat="violation in violations">
						<label> <input type="radio" name="violationOption" ng-model="$parent.selectedViolationType"
								ng-value="violation.violationTypeId">
							{{violation.violationDescription}}
						</label>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'D' | translate
						}}</button>
					<button type="button" class="btn btn-primary" ng-click=report(selectedPostId)>{{ 'BC' | translate
						}}</button>
				</div>
			</div>
		</div>
	</div>
	<!-- load ảnh -->
	<script>
		var selectedMedia = []; // Mảng để lưu trữ các tệp đã chọn từ cả hai lần chọn hình ảnh

		document.getElementById('dropArea').addEventListener('click',
			function () {
				document.getElementById('inputGroupFile01').click();
			});

		document.getElementById('inputGroupFile01').addEventListener('change',
			function () {
				handleFiles(this.files);
			});

		function dropHandler(event) {
			event.preventDefault();
			var files = event.dataTransfer.files;
			handleFiles(files);
		}

		function handleFiles(files) {
			var mediaType = /^image\//;
			var videoType = /^video\//;
			var mediaList = document.getElementById('mediaList');

			for (var i = 0; i < files.length; i++) {
				var file = files[i];
				if (mediaType.test(file.type) || videoType.test(file.type)) {
					var reader = new FileReader();
					reader.onload = (function (file) {
						return function () {
							if (mediaType.test(file.type)) {
								var media = new Image();
								media.src = this.result;
								media.classList.add('previewMedia');
								var container = createMediaContainer(media,
									file);
								mediaList.appendChild(container);
							} else if (videoType.test(file.type)) {
								var media = document.createElement('video');
								media.src = this.result;
								media.setAttribute('controls', 'controls');
								media.classList.add('previewMedia');
								var container = createMediaContainer(media,
									file);
								mediaList.appendChild(container);
							}
						};
					})(file);
					reader.readAsDataURL(file);
					selectedMedia.push(file);
				}
			}

			// Cập nhật lại những ảnh hoặc video đã chọn trong phần tử <input>
			var dataTransfer = new DataTransfer();
			for (var i = 0; i < selectedMedia.length; i++) {
				dataTransfer.items.add(selectedMedia[i]);
			}
			document.getElementById('inputGroupFile01').files = dataTransfer.files;
		}

		function createMediaContainer(media, file) {
			var container = document.createElement('div');
			container.classList.add('previewMediaContainer');
			container.appendChild(media);

			var deleteButton = document.createElement('button');
			deleteButton.innerHTML = 'X';
			deleteButton.classList.add('deleteButton');
			deleteButton
				.addEventListener(
					'click',
					function () {
						// Xóa hình ảnh khỏi giao diện và khỏi mảng selectedMedia khi người dùng xóa
						var index = selectedMedia.indexOf(file);
						if (index !== -1) {
							selectedMedia.splice(index, 1);
						}
						// Cập nhật lại những ảnh hoặc video đã chọn trong phần tử <input>
						var dataTransfer = new DataTransfer();
						for (var i = 0; i < selectedMedia.length; i++) {
							dataTransfer.items.add(selectedMedia[i]);
						}
						document.getElementById('inputGroupFile01').files = dataTransfer.files;

						container.remove();
					});

			container.appendChild(deleteButton);

			return container;
		}

		function dragOverHandler(event) {
			event.preventDefault();
			event.target.classList.add('active');
		}

		function dragLeaveHandler(event) {
			event.preventDefault();
			event.target.classList.remove('active');
		}
		function toggleColor(link) {
			var allLinks = document.getElementsByClassName("colorful-link");

			for (var i = 0; i < allLinks.length; i++) {
				var currentLink = allLinks[i];
				currentLink.classList.remove("active"); // Loại bỏ lớp 'active' từ tất cả các thẻ

				if (currentLink === link) {
					link.classList.add("active"); // Thêm lớp 'active' vào thẻ được bấm
				}
			}
		}
	</script>
</div>