<div ng-controller="SearchController">
	<div class="col-md-6 " style="z-index: 10;">

		<center>
			<div style="width: 85%; text-align: left;" data-bs-toggle="modal">
				<!--Tìm kiếm-->
				<div style="width: 85%; text-align: left;" data-bs-toggle="modal">
					<form class="position-relative" ng-submit="LS()" onsubmit="return validateSearch()">
						<input type="search" class="form-control search-chat py-2 ps-5" ng-value="showname.username"
							ng-keyup="searchUser()" ng-model="username" id="text-srh" ng-keyup="TimKiem(key)"
							placeholder="{{ 'TK' | translate }}" style="border: 1px solid #ccc;"> <a><i
								class="fa-solid fa-magnifying-glass fa-2xs position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i></a>
						<!--  <button ng-click="LS()">Tìm kiếm</button> -->
					</form>
				</div>
			</div>
		</center>
		<center><b ng-if="searchnull">{{ searchnull }}</b></center>
		<div class="user-container" style="justify-content: space-evenly;">
			<div class="user-card col-md-6" style="background: transparent; margin: 0" ng-repeat="user in users">
				<div class="user-data full-width" style="margin-bottom: 5px; margin-left: 0">
					<div class="user-profile" style="display: block;">
						<div class="username-dt dpbg-1"
							style="background-image: url(images/{{user.background}}); background-size: cover;">
							<a href="#!/profile/{{user.userId}}" class="usr-pic"> <img alt=""
									ng-src="/images/{{user.avatar}}">
							</a>
						</div>
						<div class="user-main-details" style="padding: 60px 0 2px 0;">
							<h6 style="font-weight: 600" class="ng-binding">{{user.username}}</h6>
							<!-- <span><i class="feather-map-pin"></i>India</span> -->
						</div>
						<center>
							<button style="margin: 3px" ng-if="followings.indexOf(user.userId.toString()) === -1"
								ng-click="followUser(user.userId)" id="follow-btn"
								class="btn btn-outline-primary py-1 px-2">Follow</button>
							<button style="margin: 3px;" ng-if="followings.indexOf(user.userId.toString()) !== -1"
								ng-click="unfollowUser(user.userId)" id="follow-btn"
								class="btn btn-outline-danger py-1 px-2">Unfollow</button>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 menuLeft animate__animated animate__backInRight"
		style="position: fixed; right: 3%; top: 70px;">
		<div class="row">
			<h5>{{ 'LSTK' | translate }}</h5>
			<div class="col-lg-12" ng-repeat="(key,name) in items"
				style="display: flex; justify-content: space-between;">
				<a ng-click="TimKiem(key)" style="cursor: pointer;">{{name.username}}</a> <a ng-click="deleteLS(key)"
					style="cursor: pointer;">x</a>
			</div>
		</div>
	</div>
</div>
<script>
	function validateSearch() {
		var inputElement = document.getElementById("text-srh");

		// Lấy giá trị của input (username)
		var username = inputElement.value.trim();

		// Kiểm tra nếu người dùng không nhập kí tự
		if (username === "") {
			return false; // Ngăn chặn việc submit form
		}
		// Nếu người dùng đã nhập kí tự thì cho phép submit form
		return true;
	}
</script>